<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
	<Properties>
		<Property name="basePath">D:\\</Property>
	</Properties>

	<Appenders>
<!-- 		<RollingFile name="fileLogger" -->
<!-- 			fileName="${basePath}/app-info.log" -->
<!-- 			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log"> -->
<!-- 			<PatternLayout> -->
<!-- 				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n -->
<!-- 				</pattern> -->
<!-- 			</PatternLayout> -->
<!-- 			<Policies> -->
<!-- 				<TimeBasedTriggeringPolicy interval="1" -->
<!-- 					modulate="true" /> -->
<!-- 			</Policies> -->
<!-- 		</RollingFile> -->

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Log everything in hibernate -->
		<Logger name="org.hibernate" level="trace" additivity="false">
			<AppenderRef ref="console" />
<!-- 			<AppenderRef ref="fileLogger" /> -->
		</Logger>

		<!-- Log SQL statements -->
		<Logger name="org.hibernate.SQL" level="trace"
			additivity="false">
			<AppenderRef ref="console" />
			
			 
		</Logger>

		<!-- Log JDBC bind parameters -->
		<Logger name="org.hibernate.type.descriptor.sql" level="trace"
			additivity="false">
			<AppenderRef ref="console" />
			
			
			
		</Logger>

		<!-- Log custom packages -->

<!-- 		<Logger name="org.pstcl" level="info" additivity="true"> -->
<!-- 			<appender-ref ref="fileLogger" level="info" /> -->
<!-- 		</Logger> -->

		<Root level="trace" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>